.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.problem-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 40px;
}

.problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 64px;
  gap: 20px;
}

.problem-button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 780px;
  margin: 64px 0px;
}

.problem-button-list button:first-child {
  margin-right: auto;
}

.problem-button-list button:last-child {
  margin-left: auto;
}

.problem-button {
  background-color: var(--PINK);
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  color: var(--WHITE);
  font-family: 'BMJUA';
  cursor: pointer;
}

@media (max-width: 1200px) {
  .problem-button-list {
    width: 720px;
  }
}

@media (max-width: 1024px) {
  .problem-container {
    flex-direction: column;
  }

  .problem-button-list {
    margin: 40px 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 768px) {
  .problem-content {
    flex-direction: column;
  }

  .problem-button-list {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .problem-button-list {
    width: 320px;
  }
}
