.container {
  width: 68%;
  min-width: 500px;
  min-height: 600px;
  background-color: var(--WHITE);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  margin-left: 20px;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-name {
  font-family: 'BMJUA';
  font-size: 20px;
  color: var(--TEXT_SECONDARY);
}

.calendar-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--DARKYELLOW);
  height: 60px;
  width: 100%;
  border-radius: 30px;
  padding: 0 30px;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-button {
  color: var(--YELLOW);
  cursor: pointer;
}

.calendar-button:hover {
  transform: scale(1.2);
  color: var(--ORANGE);
}

.calendar-header span {
  font-family: 'BMJUA';
  font-size: 25px;
  color: var(--TEXT_PRIMARY);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day-header {
  font-family: 'HD';
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
  color: var(--TEXT_SECONDARY);
}

.day-container {
  border: 1px solid #ddd;
  height: 80px;
  padding: 5px;
}

.calendar-day {
  font-family: 'HD';
  text-align: left;
}
