.container {
  width: 72%;
  min-width: 500px;
  height: 100%;
  min-height: 700px;
  background-color: var(--WHITE);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 15px;
  margin-left: 20px;
}

.container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.container-name {
  font-family: 'BMJUA';
  font-size: 20px;
  color: var(--TEXT_SECONDARY);
  margin-right: 30px;
}

.calendar-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--DARKYELLOW);
  height: 50px;
  width: 100%;
  border-radius: 30px;
  padding: 0 30px;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-button {
  color: var(--YELLOW);
  cursor: pointer;
}

.calendar-button:hover {
  transform: scale(1.2);
  color: var(--ORANGE);
}

.calendar-header span {
  font-family: 'BMJUA';
  font-size: 25px;
  color: var(--TEXT_PRIMARY);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
}

.calendar-day-header {
  font-family: 'HD';
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
  color: var(--TEXT_SECONDARY);
}

.day-container {
  background-color: var(--LIGHTYELLOW);
  height: 90px;
  padding: 10px;
  border-radius: 15px;
}

.calendar-day {
  font-family: 'HD';
  color: var(--TEXT_PRIMARY);
  text-align: left;
}

.other-month-day {
  color: var(--BORDER_LIGHT);
}

.today {
  background-color: var(--YELLOW);
}

.button-enabled {
  color: var(--DARKYELLOW);
  cursor: default;
}

.button-enabled:hover {
  transform: none;
  color: var(--DARKYELLOW);
}
