.progressbar-container {
  position: relative;
  padding: 0px 20px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--YELLOW) 70%,
    var(--LIGHTGREEN) 50%
  );
}

.progressbar {
  position: relative;
  width: 100%;
  height: 160px;
}

.progress-character {
  position: absolute;
  bottom: 10px;
  width: 80px;
  height: 110px;
  transition: left 0.5s ease-in-out;
  z-index: 2;
}

.progress-house {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 130px;
  height: 130px;
}

@media (max-width: 768px) {
  .progressbar-container {
    padding-right: 0px 60px;
    width: 400px;
  }

  .progressbar {
    width: 340px;
  }

  .progress-character {
    width: 60px;
    height: 80px;
  }

  .progress-house {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .progressbar-container {
    width: 320px;
  }

  .progressbar {
    width: 260px;
  }
}
