.problem-text {
  background-color: var(--WHITE);
  border-radius: 10px;
  padding: 24px;
  color: var(--TEXT_SECONDARY);
  font-family: 'PT';
  font-size: 22px;
  line-height: 24px;
  white-space: pre-wrap;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
