.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
}

.container-title {
  width: 120px;
  color: var(--TEXT_SECONDARY);
  font-size: 16px;
  font-family: 'PTBOLD';
  margin: 32px 0px;
}

.solved-button-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 132px;
  padding: 10px 0px;
  background-color: var(--WHITE);
  color: var(--TEXT_SECONDARY);
  border: none;
  border-radius: 10px;
  font-family: 'PT';
  overflow: hidden;
}

.solved-button-list li {
  list-style: none;
}

.solved-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  width: 120px;
  border: none;
  background-color: var(--WHITE);
  color: var(--TEXT_SECONDARY);
  cursor: pointer;
  font-family: 'PT';
}

.solved-button:hover {
  color: var(--PINK);
}

.solved-button-active {
  color: var(--PINK);
}

.solve {
  color: var(--GREEN);
  font-size: 18px;
}

.solve-not {
  color: var(--GRAY);
  font-size: 18px;
}

@media (max-width: 1200px) {
  .container {
    width: 120px;
  }

  .container-title {
    width: 120px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 720px;
  }

  .container-title {
    width: 100%;
    margin: 16px 0px;
  }

  .solved-button-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
