.container {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: sticky;
  top: 60px;
  z-index: 10;
}

.container-title {
  color: var(--TEXT_SECONDARY);
  font-size: 22px;
  font-family: 'PTBOLD';
  margin: 32px 0px;
}

.solved-button-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  background-color: var(--WHITE);
  color: var(--TEXT_SECONDARY);
  border: none;
  border-radius: 10px;
  font-family: 'PT';
  overflow: hidden;
  white-space: nowrap;
}

.solved-list-item {
  list-style: none;
  width: 100%;
}

.solved-button {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  width: 100%;
  border: none;
  background-color: var(--WHITE);
  color: var(--TEXT_SECONDARY);
  cursor: pointer;
  font-family: 'PT';
}

.solved-button:hover {
  color: var(--PINK);
}

.solved-button-active {
  color: var(--PINK);
}

.solve {
  color: var(--GREEN);
  font-size: 18px;
}

.solve-not {
  color: var(--GRAY);
  font-size: 18px;
}

@media (max-width: 1200px) {
  .container {
    width: 120px;
  }

  .container-title {
    width: 120px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 720px;
  }

  .container-title {
    width: 100%;
    margin: 16px 0px;
  }

  .solved-button-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 320px;
  }
}
