.progressbar-container {
  position: relative;
  padding-right: 0px 50px;
  width: 780px;
  background: linear-gradient(
    to bottom,
    var(--YELLOW) 70%,
    var(--LIGHTGREEN) 50%
  );
}

.progressbar {
  position: relative;
  width: 770px;
  height: 160px;
}

.progress-character {
  position: absolute;
  bottom: 10px;
  width: 80px;
  height: 110px;
  transition: left 0.5s ease-in-out;
  z-index: 2;
}

.progress-house {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 120px;
  height: 120px;
}

@media (max-width: 1200px) {
  .progressbar-container {
    width: 720px;
  }

  .progressbar {
    width: 670px;
  }
}

@media (max-width: 1024px) {
  .progressbar-container {
    width: 720px;
  }

  .progressbar {
    width: 670px;
  }
}

@media (max-width: 768px) {
  .progressbar-container {
    padding-right: 0px 60px;
    width: 400px;
  }

  .progressbar {
    width: 340px;
  }

  .progress-character {
    width: 60px;
    height: 80px;
  }

  .progress-house {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .progressbar-container {
    width: 320px;
  }

  .progressbar {
    width: 260px;
  }
}
