.problem-input-field {
  display: flex;
}

.problem-input {
  background-color: var(--WHITE);
  width: 340px;
  padding: 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .problem-input {
    width: 320px;
  }
}

@media (max-width: 1024px) {
  .problem-input {
    width: 320px;
  }
}

@media (max-width: 768px) {
  .problem-input {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .problem-input {
    width: 320px;
  }
}
