.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'PT';
  line-height: 24px;
  color: var(--TEXT_SECONDARY);
  max-width: 1200px;
}

.content-wrapper-column {
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'PT';
  line-height: 24px;
  color: var(--TEXT_SECONDARY);
  max-width: 1200px;
}

.page-title,
.page-subTitle {
  font-family: 'HDBOLD';
  margin-bottom: 40px;
  white-space: nowrap;
  width: 100%;
}

.page-title {
  color: var(--TEXT_PRIMARY);
  font-size: 32px;
}

.page-subTitle {
  color: var(--PINK);
  font-size: 24px;
}

.page-text {
  font-size: 22px;
  line-height: 1.5;
}

#username {
  color: var(--PINK);
}

.test-category {
  width: 100%;
}

.test-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

.pagination button:disabled {
  background-color: var(--LIGHTGRAY);
  cursor: not-allowed;
}

@media (max-width: 1024px) {
  .content-wrapper {
    flex-direction: column;
    gap: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .test-cards {
    flex-wrap: wrap;
    align-items: center;
  }
}
