.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 60px 0px;
  margin-right: 40px;
}

.problem-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  gap: 20px;
}

.problem-button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 820px;

  margin: 64px 0px;
}

.problem-button-list button:first-child {
  margin-right: auto;
}

.problem-button-list button:last-child {
  margin-left: auto;
}

@media (min-width: 1200px) {
  .left-container {
    width: 160px;
  }
}

@media (min-width: 1400px) {
  .left-container {
    display: flex;
    width: 240px;
    margin-right: 80px;
  }
}

@media (max-width: 1024px) {
  .problem-button-list {
    width: 720px;
  }
}

@media (max-width: 768px) {
  .problem-content {
    flex-direction: column;
  }

  .problem-button-list {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .problem-button-list {
    width: 320px;
  }
}
