.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

@media (max-width: 768px) {
  .problem-content {
    flex-direction: column;
  }
}
