.container {
  background-color: var(--YELLOW);
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
}

.main {
  min-height: calc(100vh - 60px);
}

.footer {
  padding: 100px 0px;
  color: gray;
}
