html,
body {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select {
  font-family: 'PT';
  font-size: 16px;
  height: 36px;
  border-radius: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--GRAY);
  margin: 7px 0;
  padding: 5px 10px;
  &::placeholder {
    color: var(--TEXT_SECONDARY);
    font-size: 14px;
  }
  &:focus {
    border-width: 2px;
    border-color: var(--PINK);
    outline: none;
  }
}

input {
  width: 100%;
}

select {
  font-size: 15px;
}

#page-container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 100%;
  flex-grow: 1;
}

#page-title {
  color: var(--TEXT_PRIMARY);
  font-family: 'HDBOLD';
  font-size: 35px;
}

/* 폰트 적용 */
@font-face {
  font-family: 'BMJUA';
  src: url('../assets/fonts/BMJUA.ttf');
}

@font-face {
  font-family: 'PTBOLD';
  src: url('../assets/fonts/평택반도체 Bold.ttf');
}

@font-face {
  font-family: 'PT';
  src: url('../assets/fonts/평택반도체 Regular.ttf');
}

@font-face {
  font-family: 'HDBOLD';
  src: url('../assets/fonts/Hakgyoansim Dunggeunmiso TTF B.ttf');
}

@font-face {
  font-family: 'HD';
  src: url('../assets/fonts/Hakgyoansim Dunggeunmiso TTF R.ttf');
}
