.container {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 10;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  padding: 0px 64px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  margin-right: 32px;
  color: var(--PINK);
  font-family: 'BMJUA';
}

.info-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.info-menu ul li {
  font-size: 16px;
  color: var(--TEXT_SECONDARY);
  font-family: 'PT';
  cursor: pointer;
}

.user-menu ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.user-menu ul li {
  font-size: 16px;
  color: var(--TEXT_SECONDARY);
  font-family: 'PT';
  cursor: pointer;
}

.info-menu-mobile {
  display: none;
}

.info-menu-mobile ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  gap: 16px;
}

.info-menu-mobile ul li {
  font-size: 14px;
  color: var(--TEXT_SECONDARY);
  font-family: 'PT';
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .info-menu {
    display: none;
  }

  .logo {
    font-size: 28px;
    font-weight: bold;
    margin-right: 4px;
    color: var(--PINK);
    font-family: 'BMJUA';
  }

  .user-menu ul {
    gap: 16px;
  }

  .user-menu ul li {
    font-size: 14px;
  }

  .user-menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .info-menu-mobile {
    display: flex;
  }
}
