.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: calc(100vh - 60px - 80px);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--PINK);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.extra-small {
  width: 20px;
  height: 20px;
}

.small {
  width: 40px;
  height: 40px;
}

.medium {
  width: 60px;
  height: 60px;
}

.large {
  width: 80px;
  height: 80px;
}

.extra-large {
  width: 100px;
  height: 100px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  color: var(--TEXT_SECONDARY);
  font-family: 'PTBOLD';
}

.text-extra-small {
  font-size: 10px;
}

.text-small {
  font-size: 14px;
}

.text-medium {
  font-size: 18px;
}

.text-large {
  font-size: 24px;
}

.text-extra-large {
  font-size: 30px;
}
