.container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: row;
  width: 800px;
}

.describe-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.section-title {
  color: var(--TEXT_PRIMARY);
  font-family: 'HDBOLD';
  font-size: 42px;
}

.section-describe {
  color: var(--TEXT_SECONDARY);
  font-family: 'PT';
  font-size: 18px;
  line-height: 24px;
}

.main-character {
  width: 400px;
  height: auto;
}
