.container {
  display: flex;
  margin: 5px 0;
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-label {
  font-family: 'PT';
  font-size: 16px;
  color: var(--TEXT_SECONDARY);
  margin-right: 10px;
}

#row {
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#column {
  flex-direction: column;
}

#row-input {
  width: 60%;
}
