.button-container {
  border-radius: 20px;
  background-color: var(--PINK);
  font-family: 'BMJUA';
  color: var(--WHITE);
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 5px;
}

.small {
  font-size: 12px;
  padding: 5px 10px;
}

.medium {
  font-size: 16px;
  padding: 10px 15px;
}

.large {
  font-size: 24px;
  padding: 12px 20px;
}
