.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.problem-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  gap: 20px;
}

.problem-button-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 48px 0px;
}

.problem-button-list button:first-child {
  margin-right: auto;
}

.problem-button-list button:last-child {
  margin-left: auto;
}

.problem-button {
  background-color: var(--PINK);
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  color: var(--WHITE);
  font-family: 'BMJUA';
  cursor: pointer;
}

.progressbar-container{
  position: relative;
  padding-right: 0px 50px;
  width: 1000px;
  background: linear-gradient(
    to bottom,
    var(--YELLOW) 70%,
    var(--LIGHTGREEN) 50%
  );
}

.progressbar {
  position: relative;
  width: 950px;
  height: 160px;
}

.progress-character {
  position: absolute;
  bottom: 10px;
  width: 100px;
  height: 110px;
  transition: left 0.5s ease-in-out;
  z-index: 2;
}

.progress-house {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 120px;
  height: 120px;
}

@media (max-width: 1024px) {
  .problem-button-list {
    width: 720px;
  }

  .progressbar-container {
    width: 720px;
  }

  .progressbar {
    width: 670px;
  }
}

@media (max-width: 768px) {
  .problem-content {
    flex-direction: column;
  }

  .problem-button-list {
    width: 400px;
  }

  .progressbar-container {
    padding-right: 0px 60px;
    width: 400px;
  }

  .progressbar {
    width: 340px;
  }

  .progress-character {
    width: 70px;
    height: 80px;
  }

  .progress-house {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 480px) {
  .problem-button-list {
    width: 320px;
  }

  .progressbar-container {
    width: 320px;
  }

  .progressbar {
    width: 260px;
  }
}
