.container {
}

.problem-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 64px 0px;
}

@media (max-width: 768px) {
  .problem-content {
    flex-direction: column;
    padding: 48px 0px;
  }
}
